body {
  font-family: "Inconsolata", "Monaco", "Consolas", 'Courier New', Courier;
  font-size: 75%;
  color: #FFFFFF;
  background: #21252B;
  width: 600px;
}
#tab_container {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  clear: both;
  /* max-width: 400px; */
}
b {
  color: #FFFF00;
}
.search_box_base {
  color: #FFFFFF;
  background: #1B1D23;
  outline: none;
  border-width:0px;
  border:none;
}
#search_box {
  width: 180px;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#search_box:focus {
  outline: none;
}
.url_icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 10px;
}
.tab {
  position: relative;
  background: #2A2E36;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
}
.text_container {
  position: relative;
  left: 25px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.url_container {
  width: 95%;
  font-size: 25%;
  color: #D7DAE0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.highlighted {
  cursor: pointer;
  background: #454951;
  border-style: solid;
  border-left-color: #568AF2;
  border-right-color: #2A2E36;
  border-top-color: #2A2E36;
  border-bottom-color: #2A2E36;
}
.tab_snap_box {
  color: #FFFFFF;
  background: #2A2E36;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 10px;
}
.tab_snap_name_box {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
}
.tab_snap_box:hover {
  background: #454951;
}
.snap_control_button {
  color: #FFFFFF;
  background: #2176FF;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  border-color: #69B578; /* DA4167 */
  padding: 8px 16px;
  margin: 8px 0px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.snap_control_button:focus {
  outline: none;
}
.snap_control_button:hover {
  background-color: #33A1FD;
  cursor: pointer;
}
#tab_snap_container {
  position: relative;
  max-height: 285px;
  overflow: auto;
}
.snap_action_base {
  background-color: #21252B;
  padding: 5px;
  border-color: #2A2E36;
  border-width: 3px;
  border-style: solid;
}
#save_snap_menu {
  display: none;
  position: absolute;
  z-index: 1;
}
#save_snap_name_input {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 150px;
}
.menu_button_base {
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  border-color: #69B578; /* DA4167 */
}
.menu_button_base:focus {
  outline: none;
}
#submit_save_snap_button {
  width: 60px;
  margin: 5px;
  background: #568AF2;
}
#cancel_save_snap_button {
  width: 60px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #DE5259;
}
#save_snap_menu_container {
  margin: 5px;
}
#tab_snaps_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  max-height: 500px;
  overflow: hidden;
}
#no_snaps_message {
  padding: 5px;
  margin: 5px;
}
.snap_action_title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: underline;
}
.close_tab_button {
  background: #2A2E36;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 570px;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
}
.close_tab_button:hover {
  color: #DE5259;
}
.highlighted .close_tab_button {
  background: #454951;
  left: 567px;
}
.delete_tab_snap_button {
  background: transparent;
  z-index: 1;
  position: relative;
  top: -23px;
  left: 135px;
}
.delete_tab_snap_button:hover {
  color: #DE5259;
}
#extension_info {
}
#gibbon_tabs_logo_image {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}
#gibbon_tabs_name {
  font-style: oblique;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-right: 20px;
}
#gibbon_tabs_name_div {
  float: left;
  width: 50%;
}
#gibbon_tabs_logo_image_div {
  position: relative;
  float: right;
  width: 30%;
  height: 70px;
}
#tab_manager_menu_div {
  float: left;
  width: 69%;
}
