body {
  font-family: "Inconsolata", "Monaco", "Consolas", 'Courier New', Courier;
  font-size: 75%;
  color: #FFFFFF;
  background: #21252B;
  width: 600px;
}
#tab_container {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  /* max-width: 400px; */
}
b {
  color: #FFFF00;
}
#search_box {
  width: 30%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #FFFFFF;
  background: #1B1D23;
  outline: none;
  border-width:0px;
  border:none;
}
#search_box:focus {
  outline: none;
}
.url_icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 10px;
}
.tab {
  position: relative;
  background: #2A2E36;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
}
.text_container {
  position: relative;
  left: 25px;
}
.url_container {
  font-size: 25%;
  color: #D7dAE0;
}
.highlighted {
  cursor: pointer;
  background: #454951;
  border-style: solid;
  border-left-color: #568AF2;
  border-right-color: #2A2E36;
  border-top-color: #2A2E36;
  border-bottom-color: #2A2E36;
}
.tab_snap_box {
  color: #FFFFFF;
  background: #AAAAAA;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.snap_control_button {
  color: #FFFFFF;
  background: #69B578;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  border-color: #69B578; /* DA4167 */
  padding: 8px 16px;
  margin: 8px 0px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.snap_control_button:focus {
  outline: 0;
}
.snap_control_button:hover {
  background-color: #3A7D44; /* Green */
  cursor: pointer;
}
#tab_snap_container {
  max-height: 285px;
  overflow: auto;
}
