body {
  font-family: "Inconsolata", "Monaco", "Consolas", 'Courier New', Courier;
  font-size: 75%;
  color: #FFFFFF;
  background: #21252B;
  width: 600px;
  height: 800px;
}
#tab_container {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  /* max-width: 400px; */
}
b {
  color: #FFFF00;
}
input[type=text] {
  width: 50%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #FFFFFF;
  background: #1B1D23;
  outline: none;
  border-width:0px;
  border:none;
}
input[type=text]:focus {
  outline: none;
}
.url_icon {
  float: left;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  padding-right: 5px;
}
.tab {
  background: #2A2E36;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
}
.url_container {
  float: left
  font-size: 25%;
  color: #D7dAE0;
}
.highlighted {
  /* box-shadow:0 0 20px yellow; */
  border-style: solid;
  border-left-color: #568AF2;
  border-right-color: #2A2E36;
  border-top-color: #2A2E36;
  border-bottom-color: #2A2E36;
}
