#gibbon_tabs_logo_image {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}
#gibbon_tabs_name {
  font-style: oblique;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 5px;
}
#gibbon_tabs_name_div {
  float: left;
  width: 50%;
}
#gibbon_tabs_logo_image_div {
  position: relative;
  float: right;
  width: 30%;
  height: 70px;
}
#tab_manager_menu_div {
  float: left;
  width: 69%;
}
